@import '../../styles/utils/vars';

.dataskaiLogo {
  margin-bottom: 65px;

}

.dataskaiLogoImage {
  background: url("../../images/dataskai_logo.svg") no-repeat;
  background-size: contain;
  padding-bottom: 10.20%;
  margin-bottom: 10px;

  @media (min-width: $tableWidth) {
    margin-bottom: 16px;
  }
}

.dataskaiLogoText,
.dataskaiLogoTitle {
  width: 163px;
  margin-bottom: 13px;
  font-size: 1.3rem;
  line-height: 1.4;

  @media (min-width: $tableWidth) {
    width: 309px;
    margin-bottom: 18px;
    font-size: 1.6rem;
    line-height: 1.5;
  }
}


.dataskaiLogoTitleName {
  display: inline-block;
}

.dataskaiLogoText {
  margin-left: auto;

  @media (min-width: $tableWidth) {
    margin-right: 160px;
  }
}

.dataskaiLogoTextWarn {
  color: #abc537;
}
