@import '../../styles/utils/vars';

.aboutUs {

  font-size: 1.4rem;
  line-height: (20 / 14);
  margin-bottom: 70px;

  @media (min-width: $tableWidth) {
    margin-bottom: 138px;
    max-width: 472px;
    margin-left: auto;

    font-size: 1.8rem;
    line-height: (24 / 18);
  }

  p {
    margin: 0 0 24px;

    @media (min-width: $tableWidth) {
      max-width: 390px;
      margin-bottom: 18px;
    }
  }
}

.aboutUsHeading {
  min-height: 100px;
  margin: 0 0 30px;
  padding: 0;
  color: $primary-color;
  font-family: 'Ubuntu Mono', Consolas, Monaco, sans-serif;
  font-size: 2.5rem;
  line-height: (30 / 25);
  font-weight: normal;
  white-space: pre-line;

  @media (min-width: $tableWidth) {
    min-height: 212px;
    margin-bottom: 16px;
    font-size: 4rem;
    line-height: (56 / 42);
  }
}

.link {
  color: $primary-color;
}
