@import '../../styles/utils/vars';

.aboutUs {


  margin-bottom: 55px;

  @media (min-width: $tableWidth) {
    max-width: 472px;
    margin-left: auto;
    font-size: 1.8rem;
    line-height: (24 / 18);
  }

  p {

    margin: 0 0 4px;

    @media (min-width: $tableWidth) {
      max-width: 390px;
      margin-bottom: 42px;
    }
  }
}

.aboutUsHeading {
  min-height: 168px;
  margin: 0 0 30px;
  padding: 0;
  color: $primary-color;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: bold;
  white-space: pre-line;

  @media (min-width: $tableWidth) {
    margin-bottom: 16px;
    font-size: 4.2rem;
    line-height: (56 / 42);
  }
}

