.aboutUs {
  margin-bottom: 55px;
  p {
    margin: 0 0 4px;
  }
}

.aboutUsHeading {
  margin: 0 0 30px;
  padding: 0;
  color: #ABC537;
  font-size: 30px;
  line-height: 1.2;
  font-weight: normal;
}

.aboutUsWarn {
  color: #abc537;
}
