@import '../../styles/utils/vars';

.carousel {
  p {
    margin: 0 0 8px;
  }
}

.carouselTabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6px 0;
  margin: 0 -7px 35px;
  padding: 0;
  list-style: none;

  @media (min-width: $tableWidth) {
    grid-template-columns: repeat(4, 140px);
    justify-content: space-between;
    grid-gap: 12px 0;
  }

  @media (min-width: $smDesktopWidth) {
    grid-template-columns: repeat(6, 140px);
  }

  @media (min-width: $desktopWidth) {
    grid-template-columns: repeat(auto-fit, 140px);
    grid-gap: 0;
  }
}

.carouselTabsItem {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 1.4rem;
  color: #f2f2f2;
  line-height: (20 / 14);
}

.carouselTabsLink {
  display: block;

  padding: 7px;
  color: inherit;
  transition: all .3s ease;

  @media (min-width: $tableWidth) {
    border-bottom: 2px solid transparent;
  }

  &:hover {
    text-decoration: none;
  }
}

.carouselTabsLinkActive {
  color: $primary-color;

  @media (min-width: $tableWidth) {
    border-bottom-color: #4DCF37;
  }
}

.carouselItem {
  width: calc(100vw - 68px);
  padding-right: 24px;
  max-width: 924px;

  @media (min-width: $tableWidth) {
    width: auto;
    display: grid;
    padding: 0;
    grid-template-columns: 296px 1fr;
    max-width: none;
  }
}

.carouselFig {
  margin-bottom: 35px;

  @media (min-width: $tableWidth) {
    order: 2;
    margin: 0 0 0 17px;
  }
}

.carouselTitle {
  margin-bottom: 15px;
  font-size: 2rem;
  line-height: (28 / 20);

  @media (min-width: $tableWidth) {
    margin-bottom: 24px;
    font-size: 2.4rem;
    line-height: 1.33;
  }
}

.carouselSummary {
  font-size: 1.4rem;
  line-height: (20 / 14);

  @media (min-width: $tableWidth) {
    font-size: 1.8rem;
    line-height: (24 / 18);
  }
}

.carouselContext {
  @media (min-width: $tableWidth) {
    order: 1;
  }
}

.carouselImg {
  width: 100%;
}

.carouselAscii,
.carouselMedia {
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;


  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.carouselAscii {
  padding-bottom: 162%;

  @media (min-width: $tableWidth) {
    padding-bottom: 76.25%;
  }
}
