@import '../../styles/utils/vars';

.operations {
  margin-bottom: 100px;
}

.heading {
  margin: 0 0 6px;
  font-size: 3rem;
  line-height: (36 / 30);
  font-weight: normal;


  @media (min-width: $tableWidth) {
    font-size: 4.2rem;
    line-height: (56 / 42);
    font-weight: 600;

  }
}

.subHeading {
  margin: 0 0 32px;
  font-size: 2rem;
  line-height: (28 / 20);
  font-weight: normal;

  @media (min-width: $tableWidth) {
    margin-bottom: 64px;
    font-size: 2.4rem;
    line-height: (32 / 24);
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tableWidth) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-gap: 29px;
  }

  @media (min-width: $desktopWidth) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 29px;


  }
}

.listItem {
  margin: 0 0 32px;
  padding: 0;

  font-size: 1.4rem;
  line-height: (20 / 14);

  @media (min-width: $tableWidth) {
    margin: 0;
    font-size: 1.6rem;
    line-height: (24 / 16);
  }
}

.listTitle {
  margin-bottom: 12px;
  font-size: 2rem;
  line-height: (28 / 20);

  @media (min-width: $tableWidth) {
    margin-bottom: 24px;
    font-size: 2.4rem;
    line-height: (32 / 24);
  }
}
