@import '../../styles/utils/vars';

.logo {
  background: url("../../images/LOGO.svg") no-repeat;
  position: absolute;
  top: 14px;
  left: 55px;
  font-size: 1.6rem;
  margin: auto;
  color: #F2F2F2;

  @media (min-width: $tableWidth) {

    top: 24px;
    left: 20px;
  }

  @media (min-width: $desktopWidth) {
    left: 0;
  }
}

.logoLink {
  display: block;
  height: 25px;

  padding-left: 43px;

  color: inherit;
  line-height: (27 / 16);

}
