.logo {
  background: #F2F2F2;
  width: 81px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 55px;
  bottom: 0;
  margin: auto;
}

.logoLink {
  display: block;
  width: inherit;
  height: inherit;
}
