@import '../../styles/utils/vars';

.logo {
  background: url("../../images/LOGO.svg") no-repeat 50%;
  background-size: contain;
  width: 81px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 55px;
  bottom: 0;
  margin: auto;

  @media (min-width: $tableWidth) {
    width: 120px;
    height: 56px;
    top: 18px;
    left: 0;
  }
}

.logoLink {
  display: block;
  width: inherit;
  height: inherit;
}
