@import '../../styles/utils/vars';

.usage {
  @media (min-width: $tableWidth) {
  }
}

.freeSummary {
  @media (min-width: $tableWidth) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 20px;
  }
}

.heading {
  margin: 0 0 32px;
  font-size: 3rem;
  line-height: (36 / 30);
  font-weight: normal;


  @media (min-width: $tableWidth) {
    margin-bottom: 55px;
    font-size: 4.2rem;
    line-height: (56 / 42);
    font-weight: 600;

  }
}

.ib {
  display: inline-block;
}

.textarea {
  background: transparent;
  width: 100%;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 3px;
  height: 112px;
  resize: none;
  padding: 10px;
  color: #f2f2f2;
  font-size: 2rem;
}

.textfield {
  background: transparent;
  width: 100%;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 10px;
  color: #f2f2f2;
  font-size: 2rem;
}

.free {
  font-size: 2rem;
  line-height: 1.4;

  @media (min-width: $tableWidth) {
    margin-bottom: 80px;

    font-size: 2.4rem;
    line-height: (32 / 24);

  }

  p {
    margin: 0 0 12px;

    @media (min-width: $tableWidth) {

      margin: 0 0 12px;
    }
  }
}

.btn {
  background: transparent;
  display: inline-block;
  border: 1px solid #F2F2F2;
  border-radius: 2px;
  height: 40px;
  width: 160px;
  box-sizing: border-box;
  padding: 0 10px;
  color: #f2f2f2;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: (40 / 14);
  text-align: center;

  @media (min-width: $tableWidth) {
    height: 42px;
    width: 226px;

    font-size: 1.8rem;
    line-height: (42 / 18);
  }
}

.form {
  font-size: 1.4rem;
  line-height: 1.42;

  @media (min-width: $tableWidth) {
    font-size: 1.8rem;
    line-height: (24 / 18);
  }

  p {
    margin: 0 0 20px;

    @media (min-width: $tableWidth) {
      margin-bottom: 24px;
    }
  }

  .lbs {
    margin: 0 0 6px;

    @media (min-width: $tableWidth) {
      margin-bottom: 16px;

    }
  }
}



.btns {
  text-align: right;
}

.subHeading {
  margin: 0 0 12px;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;

  @media (min-width: $tableWidth) {
    margin-bottom: 24px;
    font-size: 4.2rem;
    line-height: (56 / 42);
  }
}
