@import '../../styles/utils/vars';

.testers {
  display: flex;
  flex-direction: column;
  padding: 50px 18px;
  background-size: 100% 100%;
  margin: 0 -18px 70px;
  position: relative;
  z-index: 1;

  @media (min-width: $tableWidth) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 100px;
    padding: 65px 0 90px;
  }

  p {
    margin: 0 0 8px;

    @media (min-width: $tableWidth) {
      margin: 0 0 16px;
    }
  }

  &:before {
    content: '';
    background: linear-gradient(278.03deg, rgba(14, 32, 68, 1) 0%, rgba(205, 15, 197, .4) 50%, rgba(205, 15, 197, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    @media (min-width: $tableWidth) {
      width: 100vw;
      right: 50%;
      left: auto;
      transform: translate(50%, 0);
    }
  }
}

.looking {
  margin-bottom: 21px;
  font-size: 1.6rem;
  line-height: (20 / 16);
  order: 2;

  @media (min-width: $tableWidth) {
    flex: 1 1 57%;
    max-width: 57%;
    box-sizing: border-box;
    margin: 0;
    padding: 0 80px 0 0;
    font-size: 1.6rem;
    line-height: (24 / 16);
  }


}

.btn {
  display: block;
  border: 1px solid;
  border-radius: 2px;
  height: 40px;
  padding: 0 16px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: (40 / 14);
  text-align: center;
  text-decoration: none;

  @media (min-width: $tableWidth) {
    display: inline-block;
    min-width: 300px;
    height: 44px;
    font-size: 2rem;

    line-height: (44 / 20);
  }

  &:hover {
    text-decoration: none;
  }
}

.btnBgTransparent {
  background-color: transparent;
  border-color: #f2f2f2;
  color: #f2f2f2;
}

.btnBg {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: #000;
}

.heading {
  margin: 0 0 21px;
  font-size: 3rem;
  line-height: (36 / 30);
  font-weight: normal;
  order: 1;

  @media (min-width: $tableWidth) {
    width: 100%;
    margin-bottom: 28px;
    font-size: 4.2rem;
    line-height: (56 / 42);
    font-weight: 600;

  }
}

.btns {
  margin-bottom: 21px;
  order: 3;

  font-size: 1.6rem;
  line-height: (20 / 16);

  @media (min-width: $tableWidth) {
    flex: 0 1 43%;
    max-width: 43%;
    box-sizing: border-box;

    padding-left: 80px;
    font-size: 2.4rem;
    line-height: (32 / 24);
    text-align: left;
  }

  p {
    margin: 0;
    @media (min-width: $tableWidth) {
      margin: 0 0 3px
    }
  }
}


.docs {
  font-size: 1.6rem;
  line-height: (24 / 16);
  order: 4;


  @media (min-width: $tableWidth) {
    flex: 0 1 57%;
    max-width: 57%;
    padding: 18px 80px 0 0;
    box-sizing: border-box;
    font-size: 1.6rem;
    line-height: (24 / 16);
  }
}
