@import '../../styles/utils/vars';

.testers {
  padding: 50px 18px 0;
  background-size: 100% 100%;
  margin: 0 -18px 70px;
  position: relative;
  z-index: 1;

  @media (min-width: $tableWidth) {
    display: grid;
    margin: 0 0 100px;
    padding: 90px 0;
    grid-template-columns: 1fr 307px;
    grid-gap: 0 80px;

  }

  @media (min-width: $desktopWidth) {
    grid-gap: 0 160px;

  }


  p {
    margin: 0 0 8px;

    @media (min-width: $tableWidth) {
      margin: 0 0 16px;
    }
  }
}

.looking {
  margin: -34px -18px 96px;
  padding: 34px 18px 72px;
  position: relative;
  z-index: 1;
  font-size: 1.6rem;
  line-height: (20 / 16);

  @media (min-width: $tableWidth) {
    margin: 0;
    padding: 0;
    position: static;
    font-size: 2.4rem;
    line-height: (32 / 24);
  }

  &:before {
    content: '';
    background: linear-gradient(278.03deg, rgba(14, 32, 68, 1) 0%, rgba(205, 15, 197, .4) 50%, rgba(205, 15, 197, 0) 100%);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    @media (min-width: $tableWidth) {
      width: 100vw;
      right: 50%;
      left: auto;
      transform: translate(50%, 0);
    }
  }
}

.btn {
  display: block;
  border: 1px solid;
  border-radius: 2px;
  height: 40px;
  padding: 0 16px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: (40 / 14);
  text-align: center;
  text-decoration: none;

  @media (min-width: $tableWidth) {
    display: inline-block;
    min-width: 300px;
    height: 44px;
    font-size: 2rem;

    line-height: (44 / 20);
  }

  &:hover {
    text-decoration: none;
  }
}

.btnBgTransparent {
  background-color: transparent;
  border-color: #f2f2f2;
  color: #f2f2f2;
}

.btnBg {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: #000;
}

.heading {
  margin: 0 0 37px;
  font-size: 3rem;
  line-height: (36 / 30);
  font-weight: normal;


  @media (min-width: $tableWidth) {
    margin-bottom: 40px;
    font-size: 4.2rem;
    line-height: (56 / 42);
    font-weight: 600;

  }
}

.btns {
  padding: 38px 0 0;

  @media (min-width: $tableWidth) {
    text-align: left;
  }

  p {
    margin: 0 0 3px
  }
}

.subHeading {
  margin: 0 0 11px;
  font-size: 2rem;
  line-height: (28 / 20);

  @media (min-width: $tableWidth) {
    margin-bottom: 24px;
    font-size: 2.4rem;
    line-height: (32 / 24);
  }
}

.docs {
  background: url("../../images/Union.svg") no-repeat;
  padding: 97px 0 0;

  font-size: 1.4rem;
  line-height: (20 / 14);
  position: relative;
  z-index: 1;

  @media (min-width: $tableWidth) {
    margin-top: 50px;
    font-size: 1.6rem;
    line-height: (24 / 16);
  }
}
