.footer {
  padding: 22px 18px 345px;
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    border: 1px solid #4F4F4F;
    position: absolute;
    top: 0;
    left: 18px;
    right: 18px;
    z-index: -1;
  }

}

.nav {
  margin: -3px 0 18px;
}

.navList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.navItem {
  margin: 0;
  padding: 0;
}

.navLink {
  display: block;
  padding: 3px 0;
  color: inherit;
}

.slogan {
  margin-bottom: 40px;
  color: #BDBDBD;
  font-size: 1.4rem;
  line-height: 1.3;
}

.logo {
  background: url("../../images/dataskai_logo.svg") no-repeat;
  background-size: 100% auto;
  width: 163px;
  height: 17px;
  margin-bottom: 20px;
}

.terms {
  margin-bottom: 11px;
  line-height: 1;
}

.privacy {
  margin-bottom: 40px;
  line-height: 1;
}

.privacylink,
.termsLink {
  color: inherit;
}

.contactUslink {
  color: inherit;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
