@import '../../styles/utils/vars';

.footer {
  padding: 22px 18px 29px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  @media (min-width: $tableWidth) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 27px;
  }

  &:before {
    content: '';
    border: 1px solid #4F4F4F;
    position: absolute;
    top: 0;
    left: 18px;
    right: 18px;
    z-index: -1;
  }

}

.nav {
  margin: -3px 0 18px;

  @media (min-width: $tableWidth) {
    margin: -4px 0;
  }
}

.navList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tableWidth) {
    grid-template-columns: repeat(1, 145px);
    justify-content: end;

  }
}

.navItem {
  margin: 0;
  padding: 3px 0;

  font-size: 1.4rem;
  line-height: 1.3;

  @media (min-width: $tableWidth) {
    padding: 4px 0;

    font-size: 1.6rem;
    line-height: (24 / 16);

  }
}

.navLink {
  display: block;
  padding: 3px 0;
  color: inherit;

  @media (min-width: $tableWidth) {
    padding: 4px 0;

  }
}

.slogan {
  margin-bottom: 10px;
  color: #BDBDBD;

  font-size: 1.4rem;
  line-height: (20 / 14);

  @media (min-width: $tableWidth) {
    flex: 1 1 60%;
    max-width: 60%;
    box-sizing: border-box;
    order: 1;
    margin: 0;
    padding-right: 20px;
    font-size: 1.4rem;
    line-height: (20 / 14);
  }

  @media (min-width: $desktopWidth) {
    padding-right: 90px;

  }

  p {
    margin: 0 0 6px;
  }
}

.logo {
  background: url("../../images/dataskai_logo.svg") no-repeat;
  background-size: 100% auto;
  width: 163px;
  height: 17px;
  margin-bottom: 20px;

  @media (min-width: $tableWidth) {
    display: none;

  }
}

.terms {
  margin-bottom: 11px;

  font-size: 1.4rem;
  line-height: 1;


  @media (min-width: $tableWidth) {
    width: 146px;
    position: absolute;
    top: 27px;
    right: 163px;
    font-size: 1.6rem;
    line-height: (24 / 16);

  }

}

.privacy {
  margin-bottom: 40px;

  font-size: 1.4rem;
  line-height: 1;

  @media (min-width: $tableWidth) {
    width: 146px;
    position: absolute;
    top: 57px;
    right: 163px;

    font-size: 1.6rem;
    line-height: (24 / 16);

  }

}

.privacylink,
.termsLink {
  color: inherit;
}

.contactUs {
  margin-bottom: 25px;
  color: #BDBDBD;

  font-size: 1.4rem;
  line-height: 1.3;

  @media (min-width: $tableWidth) {
    flex: 1 1 60%;
    max-width: 60%;
    box-sizing: border-box;
    margin: 0;
    padding-right: 90px;
    font-size: 1.4rem;
    order: 3;
  }

  @media (min-width: $tableWidth) {
    padding-right: 90px;
    font-size: 1.4rem;
    line-height: (20 / 14);

  }
}

.contactUslink {
  color: inherit;

}

.link {
  color: inherit;
}

.copyright {
  font-size: 1.4rem;
  line-height: (20 / 14);
  order: 3;
  text-align: left;

  @media (min-width: $tableWidth) {
    flex: 1 1 40%;
    max-width: 40%;
    box-sizing: border-box;
    text-align: right;
    order: 2;
  }
}
