@import './utils/libs';
@import './utils/vars';
@import './utils/mixins';
@import './utils/fonts';
@import '../components/asciinema-player/asciinema-player';

html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #0a0915 url("../images/bg.svg") no-repeat 50% 0 fixed;
  background-size: auto 100vh;
  height: 100%;
  color: $default-color;
  font-size: rem(18, 10);
  font-family: $mainFont;
  line-height: 1.5;
  text-align: left;
  word-wrap: break-word;

}


body {

  .slick-slider {

    margin: 0 -18px 0 0;


    @media (min-width: $tableWidth) {
      margin: 0;
    }
  }

  .slick-track {
    display: flex;
    flex-direction: row;
  }

  .slick-slide {
    float: none;
  }

  .slick-arrow {
    display: none !important;

    @media (min-width: $tableWidth) {
      display: block !important;
    }

    width: 43px;
    height: 43px;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all .3s ease;

    &:before {
      content: '';
      border: solid #fff;
      width: inherit;
      height: inherit;
      display: block;

    }
  }

  .slick-prev {
    left: -82px;

    &:before {
      border-width: 0 0 2px 2px;
      transform: rotate(45deg);
    }
  }

  .slick-next {
    right: -82px;

    &:before {
      border-width: 0 2px 2px 0;
      transform: rotate(-45deg);
    }
  }
}

a, button, label {
  cursor: pointer;
}

a {
  color: $primary-color;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.ril__navButtons {
  display: none;
}


.slick-slider {

  user-select: text !important;
}

.slick-list.draggable {

  user-select: none !important;
}
