@import '../../styles/utils/vars';

.menu {
  position: absolute;
  top: 50%;
  left: 16px;
  z-index: 100;
  transform: translate(0, -50%);

  @media (min-width: $tableWidth) {
    left: 140px;
    right: -20px;
    top: 40px;
  }
}

.menuList {
  background: #fff;
  margin: 0;
  padding: 12px 20px 12px 60px;
  list-style: none;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  position: absolute;
  left: -16px;
  top: -25px;

  transform: translate(-100%, 0);
  transition: transform .3s ease;
  will-change: transform;

  .menuActive & {
    transform: translate(0, 0);
  }

  @media (min-width: $tableWidth) {
    background: none;
    display: grid;
    padding: 0;
    width: auto;
    height: auto;
    transform: none;
    position: relative;
    top: 0;
    left: 0;
    grid-auto-flow: column;
    justify-content: right;
    grid-gap: 0 50px;

  }
}

.menuItem {
  margin: 0;
  padding: 0;
  color: #000;
  opacity: 0;
  transition: opacity .3s ease;
  will-change: opacity;

  .menuActive & {
    opacity: 1;
    transition: opacity .3s ease .3s;
  }

  @media (min-width: $tableWidth) {
    display: block;
    color: #F2F2F2;
    opacity: 1;
    font-size: 1.6rem;
    line-height: (24 / 16);
    transition: none;
  }
}

.menuLink {
  display: block;
  color: inherit;

  @media (min-width: $tableWidth) {
    padding: 0 20px;
  }
}

.menuTrigger {
  width: 24px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate(0, -45%);

  @media (min-width: $tableWidth) {

    display: none;
  }
}

.menuTriggerLine1,
.menuTriggerLine2,
.menuTriggerLine3 {
  background: #f2f2f2;
  width: 24px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  transition: background .3s ease;
  will-change: background;

  .menuActive & {
    background: #000;
  }
}

.menuTriggerLine2 {
  top: 8px;
}

.menuTriggerLine3 {
  top: 16px;
}
